table {
  width: 100%;
}

.mat-column-actions {
  width: 105px;
}

img {
  align-self: center;
  max-height: 60px;
  border-radius: 4px;
}

.table-container-responsive {
  table {
    min-width: 700px;
  }
}


.mat-column-id {
  width: 150px;
}

.table-wrapper {
  min-height: 500px;
}

.table-text-message {

}
