<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AjiNsafro</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="styles.c090d69e4fed22fd6c1e.css">
</head>
<body>
<app-root></app-root>
<script src="runtime-es2015.18d2c777541ed343f7a4.js" type="module"></script>
<script src="polyfills-es2015.34729ec3134d9fb3546a.js" type="module"></script>
<script src="runtime-es5.e85b57dc8b9d50157677.js" nomodule></script>
<script src="polyfills-es5.50b3d6d015a4216e6588.js" nomodule></script>
<script src="main-es2015.ca178ed6b7cb5bc98f27.js" type="module"></script>
<script src="main-es5.fc1ec1f716cd09e718fb.js" nomodule></script>
</body>
</html>
