<app-sub-header subHeaderTitre="{{'List Hotel'|translate}}">
  <div fxFlex menu>
    <app-sub-header-search [totale]="dataSource.data.length" (onsearch)="onSearch($event)"></app-sub-header-search>
  </div>
  <button *ngIf="(userPermission|async).isAdmin||(userPermission|async).accompagnateur.edit" toolbar mat-stroked-button
          color="primary" (click)="newElement()">{{'Ajouter'| translate}}</button>
</app-sub-header>
<div class="container">

  <mat-card *ngIf="dataSource.data.length==0" fxLayoutAlign="center center" class="table-wrapper">
    <div>
      {{'aucune donnée'|translate}}
    </div>
  </mat-card>
  <mat-card *ngIf="dataSource.data.length>0" class="table-wrapper">
    <div class="table-container-responsive">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> {{'id'|translate}}</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nom" sticky>
          <th mat-header-cell *matHeaderCellDef> {{'Nom'|translate}}</th>
          <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
        </ng-container>

        <ng-container matColumnDef="reponsable">
          <th mat-header-cell *matHeaderCellDef> {{'reponsable'|translate}}</th>
          <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
        </ng-container>
        <ng-container matColumnDef="cat">
          <th mat-header-cell *matHeaderCellDef> {{'cat'|translate}}</th>
          <td mat-cell *matCellDef="let element">
            <app-mat-star-rating [rating]="element.cat" [starCount]="5"></app-mat-star-rating>
          </td>
        </ng-container>
        <ng-container matColumnDef="tel">
          <th mat-header-cell *matHeaderCellDef> {{'formule'|translate}}</th>
          <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> {{'rib'|translate}}</th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- actions Column -->

        <ng-container matColumnDef="actions" stickyEnd>
          <th class="actions" mat-header-cell *matHeaderCellDef> {{'Actions'|translate}}</th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="(userPermission|async).isAdmin||(userPermission|async).accompagnateur.edit"
                    (click)="update(element.id)" mat-icon-button color="primary" aria-label="modifier">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="(userPermission|async).isAdmin||(userPermission|async).accompagnateur.delete"
                    (click)="delete(element.id)" mat-icon-button color="primary" aria-label="Supprimer">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card>
</div>
