<h2 mat-dialog-title>{{'Modifier Option'|translate}}</h2>
<div mat-dialog-content>
  <form [formGroup]="elementForm" (ngSubmit)="save()">
    <div fxLayout="column" fxLayoutAlign="end">
      <mat-form-field>
        <label>
          <input matInput placeholder="{{'Nom'|translate}}" formControlName="nom">
        </label>
        <app-error-form [field]="'nom'" [form]="elementForm"></app-error-form>
      </mat-form-field>
    </div>
  </form>
  <div class="spinner-wrapper solid" *ngIf="isLoadingSpinner">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="end" mat-dialog-actions>
  <button color="primary" style="margin-right: 10px" mat-raised-button
          (click)="close()">{{'annuler'|translate}}</button>
  <button color="primary" mat-raised-button [disabled]="!elementForm.valid"
          (click)="save()">{{'Update'|translate}}</button>
</div>


