table {
  width: 100%;
}

.table-container-responsive {
  table {
    min-width: 1300px;
  }
}

.mat-column-actions {
  width: 20px;
}

.element-list {
  position: relative;

  .my-mat-divider {
    margin: 3px auto;
  }
}

mat-card-header {
  padding-bottom: 15px;
}

.input-headline {
  font-size: 15px;
  margin-right: 15px;
}
