<app-sub-header subHeaderTitre="{{offreVoyage.voyage.nom +' '+offreVoyage.suffixe }}">
  <div fxFlex menu>
    <app-sub-header-search [totale]="dataSource.data.length" (onsearch)="onSearch($event)"></app-sub-header-search>
  </div>
</app-sub-header>
<div class="container">

  <mat-card>
    <mat-card-header>
      <div fxFlex="row" fxLayoutAlign="space-between">
        <mat-card-title>{{'Groupe  '|translate}}</mat-card-title>
        <div class="my-card-action" fxLayout="row" fxLayoutAlign="start">
          <a *ngIf="!(isSmall$|async)" mat-raised-button routerLink="/offreVoyage/list/{{catId}}">
            <mat-icon>keyboard_backspace</mat-icon>
            {{'back'|translate}}
          </a>
          <a
            *ngIf="!(isSmall$|async)&&((userPermission|async).isAdmin||(userPermission|async).sgroupe.edit)&&groupe.commercial.id==(commercial|async).id"
            mat-raised-button
            routerLink="/offreVoyage/list/{{catId}}/sgroupe/list/{{offreVoyage.id}}/update/{{groupe.id}}">
            <mat-icon>edit</mat-icon>
            {{'Modifier'|translate}}
          </a>
          <button *ngIf="!(isSmall$|async)"
                  mat-icon-button
                  (click)="printListVoyageurSGroupe()"
                  aria-label="list">
            <mat-icon color="primary">print</mat-icon>
          </button>
          <button *ngIf="groupe.commercial.id==(commercial|async).id" mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #appMenu="matMenu">
            <a *ngIf="(isSmall$|async)" mat-menu-item routerLink="/offreVoyage/list/{{catId}}">
              <mat-icon color="primary">keyboard_backspace</mat-icon>
              {{'back'|translate}}
            </a>
            <a
              *ngIf="(isSmall$|async)&&((userPermission|async).isAdmin||(userPermission|async).sgroupe.edit)&&groupe.commercial.id==(commercial|async).id"
              mat-menu-item
              routerLink="/offreVoyage/list/{{catId}}/sgroupe/list/{{offreVoyage.id}}/update/{{groupe.id}}">
              <mat-icon color="primary">edit</mat-icon>
              {{'Modifier'|translate}}
            </a>
            <button *ngIf="(isSmall$|async)"
                    mat-menu-item
                    (click)="printListVoyageurSGroupe()"
                    aria-label="list">
              <mat-icon color="primary">print</mat-icon>
              {{'liste'|translate}}
            </button>
            <button
              (click)="ListOperationsPaiement(groupe)"
              mat-menu-item>
              <mat-icon color="primary">list</mat-icon>
              {{'Liste des operations'|translate}}
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="table-container-responsive">
        <table mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> {{'code'|translate}}</th>
            <td mat-cell *matCellDef="let element">
              <div role="list">
                <div class="element-list" *ngFor="let v of element.voyageurs" role="listitem">
                  {{v.id}}
                  <div class="my-mat-divider"></div>
                </div>
              </div>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nom" sticky>
            <th mat-header-cell *matHeaderCellDef> {{'Nom et Prenom'|translate}}</th>
            <td mat-cell *matCellDef="let element">
              <div role="list">
                <div class="element-list" *ngFor="let v of element.voyageurs" role="listitem">
                  {{v.nom}}  {{v.prenom}}
                  <div class="my-mat-divider"></div>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="DatePaiement">
            <th mat-header-cell *matHeaderCellDef> {{'Date de paiement'|translate}}</th>
            <td mat-cell *matCellDef="let element">
              <div role="list">
                <div class="element-list" *ngFor="let v of element.paiement.traites" role="listitem">
                  {{v.date}}
                  <div class="my-mat-divider"></div>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="ModePaiement">
            <th mat-header-cell *matHeaderCellDef> {{'Mode de paiement'|translate}}</th>
            <td mat-cell *matCellDef="let element">
              <div role="list">
                <div class="element-list" *ngFor="let v of element.paiement.traites" role="listitem">
                  {{v.modalite.nom}}
                  <div class="my-mat-divider"></div>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="montantpaye">
            <th mat-header-cell *matHeaderCellDef> {{'Montant payé'|translate}}</th>
            <td mat-cell *matCellDef="let element">
              <div role="list">
                <div class="element-list" *ngFor="let v of element.paiement.traites">
                  {{v.montant}} DH
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="restpaye">
            <th mat-header-cell *matHeaderCellDef> {{'Reste à payé'|translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{element.paiement.reste}}
            </td>
          </ng-container>
          <ng-container matColumnDef="totale">
            <th mat-header-cell *matHeaderCellDef> {{'Totale'|translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{element.paiement.totale}}
            </td>
          </ng-container>
          <ng-container matColumnDef="ville">
            <th mat-header-cell *matHeaderCellDef> {{'ville de depart'|translate}}</th>
            <td class="villes" mat-cell *matCellDef="let element">
              <samp *ngFor="let v of offreVoyage.voyage.villes">{{v.nom}}</samp>
            </td>
          </ng-container>
          <ng-container matColumnDef="etat">
            <th mat-header-cell *matHeaderCellDef> {{'etat'|translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{element.etat}}
            </td>
          </ng-container>
          <ng-container matColumnDef="relation">
            <th mat-header-cell *matHeaderCellDef> {{'relation'|translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{element.type}}
            </td>
          </ng-container>
          <ng-container matColumnDef="reduction">
            <th mat-header-cell *matHeaderCellDef> {{'reduction'|translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{element.reduction}}
            </td>
          </ng-container>
          <ng-container matColumnDef="commercial">
            <th mat-header-cell *matHeaderCellDef> {{'Commercial'|translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{element.commercial.nom}}  {{element.commercial.prenom}}
            </td>
          </ng-container>
          <ng-container matColumnDef="cin">
            <th mat-header-cell *matHeaderCellDef> {{'cin'|translate}}</th>
            <td mat-cell *matCellDef="let element">
              <div role="list">
                <div class="element-list" *ngFor="let v of element.voyageurs" role="listitem">
                  {{v.cin}}
                  <div class="my-mat-divider"></div>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="tel">
            <th mat-header-cell *matHeaderCellDef> {{'tel'|translate}}</th>
            <td mat-cell *matCellDef="let element">
              <div role="list">
                <div class="element-list" *ngFor="let v of element.voyageurs" role="listitem">
                  {{v.tel}}
                </div>
              </div>
            </td>
          </ng-container>
          <!-- actions Column -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
