table {
  width: 100%;
}

.table-container-responsive {

  table {
    min-width: 1000px;
  }
}

.mat-column-actions {
  width: 20px;
}

.mat-column-id {
  width: 150px;
}

.table-wrapper {
  min-height: 500px;
}

.table-text-message {

}

.input-headline {
  font-size: 15px;
  margin-right: 15px;
}
