<h2 mat-dialog-title>{{'Modifier Agence'|translate}}</h2>
<div mat-dialog-content>
  <form [formGroup]="elementForm" (ngSubmit)="save()">
    <div fxLayout="column" fxLayoutAlign="end">
      <mat-form-field>
        <label>
          <input matInput placeholder="{{'Nom'|translate}}" formControlName="nom">
        </label>
        <app-error-form [field]="'nom'" [form]="elementForm"></app-error-form>
      </mat-form-field>
      <div class="image-wrapper" *ngIf="logo!=''||!removableInput.empty">
        <img height="150" width="150" *ngIf="logo" [src]="logo">
        <button class="btn-remove" mat-icon-button matSuffix (click)="removableInput.clear($event)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>

      <mat-form-field [hidden]="!removableInput.empty">
        <ngx-mat-file-input (change)="OnChangeImage()"
                            #removableInput
                            formControlName="logo"
                            placeholder="{{'logo'|translate}}"></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput placeholder="{{'fax'|translate}}" formControlName="fax">
        </label>
        <app-error-form [field]="'fax'" [form]="elementForm"></app-error-form>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input matInput placeholder="{{'adresse'|translate}}" formControlName="adresse">
        </label>
        <app-error-form [field]="'adresse'" [form]="elementForm"></app-error-form>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input matInput placeholder="{{'tel'|translate}}" formControlName="tel">
        </label>
        <app-error-form [field]="'tel'" [form]="elementForm"></app-error-form>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input matInput placeholder="{{'email'|translate}}" formControlName="email">
        </label>
        <app-error-form [field]="'email'" [form]="elementForm"></app-error-form>
      </mat-form-field>

    </div>
  </form>
  <div class="spinner-wrapper solid" *ngIf="isLoadingSpinner">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="end" mat-dialog-actions>
  <button color="primary" style="margin-right: 10px" mat-raised-button
          (click)="close()">{{'annuler'|translate}}</button>
  <button color="primary" mat-raised-button [disabled]="!elementForm.valid"
          (click)="save()">{{'Update'|translate}}</button>
</div>


