table {
  width: 100%;
}

.mat-column-actions {
  width: 105px;
}

.table-container-responsive {
  table {
    min-width: 900px;
  }
}

.mat-column-id {
  width: 150px;
}

.table-wrapper {
  min-height: 500px;
}

.table-text-message {

}
