<h2 mat-dialog-title>{{'Modifier Categorie'|translate}}</h2>
<div mat-dialog-content>
  <form [formGroup]="elementForm" (ngSubmit)="save()">
    <div fxLayout="column" fxLayoutAlign="end">
      <mat-form-field>
        <label>
          <input matInput placeholder="{{'Nom'|translate}}" formControlName="nom">
        </label>
        <app-error-form [field]="'nom'" [form]="elementForm"></app-error-form>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <app-chips-sous-categories fxFlex
                                   [dataCtrl]="elementForm.get('sousCategories')">
        </app-chips-sous-categories>
        <button *ngIf="(userPermission|async).isAdmin||(userPermission|async).sousCategorie.edit"
                (click)="addSousCategorie()" mat-icon-button color="primary">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <div class="spinner-wrapper solid" *ngIf="isLoadingSpinner">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="end" mat-dialog-actions>
  <button mat-button (click)="close()">{{'annuler'|translate}}</button>
  <button mat-button [disabled]="!elementForm.valid" (click)="save()">{{'Update'|translate}}</button>
</div>


